/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*Благодаря строкам 29-34 паддинги не будут прибавлять размер, а рассчитываться исходя из текущего состояния объекта*/

body {
    font-family: 'Lato', serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after { /*псевдоэлемент - полоска*/
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*Header styles start*/

.header {
    /*Фиксация верхней менюшки, чтобы когда скролишь она всегда была*/
    position: fixed;
    /*fixed - не участвует в основном потоке документа и
    не занимает пространство в нем*/
    top: 0;
    left: 0;
    width: 100%;
    /*вот до сюда*/
    /*делаем header красивым при скроле:*/
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 999;
}

.header_active {
    background: #0E1D28;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 82px;
}

/*обнуление марджина у последнего элемента списка:*/
.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

/*focus - это перепрыгивание на элемент при табуляции, active - нажатие*/
.header_link:hover, .header_link:focus, .header_link:active {
    opacity: .75;
}

.header_burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger_line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
}

.burger_line_first {
    top: 0
}

.burger_line_second {
    top: 50%;
    transform: translateY(-50%); /*выставление средней полоски в бургер меню по центру*/
}

.burger_line_third {
    bottom: 0;
}

/*Header styles end*/


/*Intro styles start*/
.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 377px;
}

.introTitle {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    max-width: 619px;
    margin-bottom: 22px;
}

.introSubtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    max-width: 546px;
    margin-bottom: 59px;
}

.search-form_info {
    display: flex;
    flex-wrap: wrap;

}

.search-form_field {
    width: 297px;
    background: transparent url("../img/svg/circleIcon.svg") no-repeat left 6px;
    /*transparent- прозрачный фон*/
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    color: white;
    font-size: 18px;

}

.search-form_field::placeholder {
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.search-form_submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background-color: rgba(27, 125, 255, 1);
    border: 0
}

.search-form_submit:hover,
.search-form_submit:focus,
.search-form_submit:active {
    background-color: rgb(49 98 163);
}

/*Intro styles end*/


/*Benefits styles start*/
.benefits {
    margin-bottom: 131px;
}

.benefits-wrap {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits-title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%); /*Мы сдвигаем элемент на 100% относительно его оси (блок пойдет вверх)*/
    background-color: white;
}

.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*создание трех колонок с размерами 1fr*/
    column-gap: 55px; /*расстояние между колонками*/
    padding: 0 100px;
}

.benefits_card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits-card-pic {
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits_card-thumb {
    display: block;
    min-width: 65px;
}

.benefits_card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits_card-desc {
    max-width: 317px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits_card-more {
    display: inline-block;
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url("../img/svg/arrow.svg") no-repeat 95% center;
    transition: .2s all;
}

/*ховер и фокус для движения стрелки, transition для плавного её движения*/
.benefits_card-more:hover,
.benefits_card-more:focus {
    background: url("../img/svg/arrow.svg") no-repeat right center;
}

/*Benefits styles end*/


/*Places styles start*/
.places {
    margin-bottom: 131px;
}

.places_caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places-title {
    margin-right: 15px;
}

.places_view-all {
    font-weight: 400;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url("../img/svg/arrow.svg") no-repeat 95% center;
    transition: .2s all;
}

.places_view-all:hover,
.places_view-all:focus {
    opacity: .65;
}

.places_cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; /*отсупы между элементами*/
}

.places_card {
    position: relative;
    overflow: hidden; /*при масштабировании картинка не вылазит за рамки*/
}

.places_card:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places_card-title {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places_card:hover .places_card-pic {
    transform: scale(1.05);

}

.places_card_size_large {
    grid-column: span 3;
}

.places_card_size_small {
    grid-column: span 2;
}


.places_card-pic {
    width: 100%;
    transition: .4s all;
}

.places_card-pic-size-large {
    height: 354px;
    object-fit: cover; /*свойство показывает как будет позиционироваться объект внутри контейнера*/
}

.places_card-pic-size-small {
    height: 283px;
    object-fit: cover; /*свойство показывает как будет позиционироваться объект внутри контейнера*/
}

.places_card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/*Places styles end*/

/*Tours styles start*/

.tours {
    margin-bottom: 139px;
}

.tours_tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 108px;
    align-items: center;
    margin-bottom: 77px; /*посчитали вручную: отступ в фигме до границы с картинкой + количество пикселей до самой картинки (1 квадрат === 1 пиксель)*/
}

.tour_info {
    padding-left: 47px;
}

.tour_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour_desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour_more {
    font-weight: 400;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url("../img/svg/arrow.svg") no-repeat 95% center;
    transition: .2s all;
}

.tour_more:hover,
.tour_more:focus {
    background: url("../img/svg/arrow.svg") no-repeat right center;
}

/*Touts styles end*/

/*Top styles start*/
.top {
    margin-bottom: 86px;
}

.top_title {
    margin-bottom: 54px;
}

.top_card {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    /*тут задали флексы для того, чтобы когда текст располагается неравномерно, кнопка всегда была по одной оси. В самой кнопке дописали margin auto 0 0 0 */
}

.top_cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 57px;
}

.top_card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top_card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}

.top_card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;
}

.top_card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 20px;
    background: url("../img/svg/Shape.svg") no-repeat right;
    margin-right: 14px;

}

.top_card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 23px;
    background: url("../img/svg/Comments.svg") no-repeat right;
}

.top_card-desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}

.top_card-more {
    width: 118px;
    padding: 12px 19px;
    font-size: 16px;
    color: white;
    background-color: rgba(27, 125, 255, 1);
    border: 0;
    text-decoration: none;
    margin: auto 0 0 0;
}

.top_card-more:hover,
.top_card-more:focus,
.top_card-more:active {
    background-color: rgb(49 98 163);
}

/*Top styles end*/


/*Videos styles start*/

.videos {
    width: 100%;
    margin-bottom: 86px;
}

.videos_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video_item {
    /*супер хак для видоса. Делаем формат 16:9. Для ширины 100% мы 9 делим на 16 и умножаем на 100% - получаем 56.2% */
    padding-top: 56.2%;
}

.video_element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Videos styles end*/


/*Footer styles start*/

.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.footer_item {
    display: flex;
    flex-wrap: wrap;
}

.footer_logo {
    width: 50%;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer_menu-title {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.footer_menu-link {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.footer_menu-link:hover,
.footer_menu-link:focus,
.footer_menu-link:active {
    opacity: .75;
}

/*Footer styles end*/


/*Media start*/


@media screen and (max-width: 960px) {
    .benefits {
        margin-bottom: 75px;
    }

    .benefits_card {
        margin-bottom: 10px;
    }

    .search-form_field {
        margin-bottom: 25px;
    }

    .benefits-card {
        padding: 0 15px;
        column-gap: 35px;
    }

    .benefits-title {
        padding: 55px 15px;
    }

    .benefits-wrap {
        box-shadow: none;
    }

    .places_card_size_large {
        grid-column: span 6;
    }

    .places_card_size_small {
        grid-column: span 6;
    }

    .tours_tour {
      column-gap: 35px;
    }

    .tour_info {
        padding-left: 0;
    }

    .tour_title {
        margin-bottom: 15px;
    }

    .tour_desc {
        margin-bottom: 15px;
    }

    .top_card {
        grid-column: span 3;
    }

    .top_cards {
        column-gap: 25px;
        grid-row-gap: 25px;
    }
    .top_card-pic{
        margin-bottom: 25px;
    }
    .footer{
        padding: 60px 0;
    }

}

@media screen and (max-width: 767px) {
    .header_burger {
        display: block;
    }

    .header_nav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
    }

    .header_nav_active {
        transform: translateX(0);
        transition: .2s all linear;
    }

    .header_item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header_item:last-child {
        margin-bottom: 0;
    }

    .header_link {
        font-size: 42px;
        line-height: 48px;
    }

    .header_nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    /*Рисуем крестик для бургера:*/
    .header_nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .header_nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header_nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    .benefits_card{
        grid-column: span 3;
    }
    .footer_logo{
        width: 100%;
        margin-bottom: 12px;
    }
    .footer_nav{
        width: 100%;
    }
}

/*Media end*/